[submodule "gummikraken"]
	path = gummikraken
	url = https://git.tools.f4.htw-berlin.de/phaensch/gummikraken.git
[submodule "teesock"]
	path = teesock
	url = https://git.tools.f4.htw-berlin.de/phaensch/teesock.git
